@import "../../../assets/styles/color-variable.scss";
.drop-toggle {
  background-color: $dropdownBackground;
  // width: 150px;
  // width: 100%;
  width: 120px;
  min-width: 80px;
  height: 30px;
  margin-right: 10px;
  margin-top: 8px;
  border: none;
  text-align: left;
  border-bottom: 2px solid #c1b3b3;
  position: relative;
  font-weight: bold;
}
.drop-toggle i {
  float: right;
}
.drop-show label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 19px;
  cursor: pointer;
  padding: 5px;
  border-bottom: 2px solid #d8d8d8;
}

.drop-show label:hover {
  background-color: $dropdownBackground;
}
.drop-show label input {
  vertical-align: top;
}
.drop-show label span {
  display: inline-block;
  margin-left: 4px !important;
}

// ARROW CSS
.dropdown-list {
  max-height: 220px;
  overflow-y: auto;
}
.drop-show {
  position: absolute;
  background: #ffffff;
  border: 1px solid #dddddd;
  margin-top: 10px;
  width: 118px;
}

.drop-show:before,
.drop-show:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 19px;
  border: 11px solid transparent;
  border-bottom-color: #dddddd;
}

.drop-show:after {
  left: 20px;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
}
@media screen and (max-width: 300px) {
  .drop-toggle {
    // background-color: red;
    width: auto;
    min-width: auto;
  }
}
