<!-- <p>exercise2 works!</p> -->

<!-- <table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Type</th>
  </tr>
  <tr *ngFor="let dataitem of movieListItems">
    <td>{{dataitem.title}}</td>
    <td>{{dataitem.year}}</td>
    <td>{{dataitem.type}}</td>

  </tr>
</table> -->

<div class="main-container">

  <div class="container">


    <div class="filter-container">
      <div class="dropdown-container">
        <angular2-multiselect [data]="filteredGenreArr" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
          (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>

        <select class="select-dropdown" (change)="selectChangeHandler($event)" style="margin-left: 14px;">
          <option hidden [value]="" selected>Year </option>
          <option *ngFor="let item of yearList" [value]="item">
            {{item}}
          </option>
        </select>
      </div>
      <div class="search-container">
        <input type="text" placeholder="Search.." name="search" [(ngModel)]="movieTitle" (ngModelChange)="search()">
        <button type="submit">
          S
          <!-- <i class="fa fa-search"></i> -->
        </button>
      </div>
    </div>

    <div class="filter-container">
      <div class="radio">
        <input id="movies" type="radio" name="numbers" value="movie" (change)="onRadioChange($event.target.value)">
        <label for="movies">Movies</label>
        <input id="books" type="radio" name="numbers" value="book" (change)="onRadioChange($event.target.value)">
        <label for="books">Books</label>
      </div>
      <div class="clear-filter">
        Clear Filter
      </div>
    </div>

    <div class="movie-list">
      <ng-container *ngIf="movieListItems.length > 0">
        <div *ngFor="let dataitem of movieListItems; let i= index" class="movie-content">
          <div>
            <img draggable="false" src={{dataitem.poster}} height="350px">
          </div>
          <div>
            {{dataitem.title}}
            <span>({{dataitem.year}}) {{i+1}}</span>
          </div>
          <div>
            Genre: {{dataitem.genre}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>
