body {
  margin: 0;
  font-family: "Roboto", "Montserrat", sans-serif;
}

.exercise-header {
  padding: 1rem 0;
  // margin: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #00a4bd;
}

// .test {
//   padding: 4px;
//   border: solid 1px rgb(240, 140, 58);
//   display: inline-block;
//   background-color: rgb(240, 140, 58);
//   position: relative;
//   // margin-top: 50px;
//   border-radius: 50%;
// }
// .test:before {
//   content: "";
//   width: 2px;
//   height: 50px;
//   background: #000;
//   position: absolute;
//   bottom: 100%;
//   left: 50%;
//   margin-left: -1px;
// }
