// Border color
// $inputBorder: #e9e9f0;
$inputBorder: #d8d8d8;

// Background color
$primaryBackground: #fefcfe;

// Primary Button
$primaryButton: #00a4bd;

// Dropdown background color
$dropdownBackground: #f2efef;
